<!DOCTYPE html>
<html>
<head>
    <title>Modifier profil</title>
</head>
<body>

    <h1>Modifier le profil</h1>

    <form method="POST">

        <label>Email :</label><br>
        <input type="text" name="email"><br><br>

        <label>Description :</label><br>
        <textarea name="description"></textarea><br><br>

        <label>Profil public</label>
        <input type="checkbox" name="public"><br><br>

        <button type="submit">
            Enregistrer
        </button>

    </form>

</body>
</html>